<nav role="navigation" class="navmenu w-nav-menu" style="margin-top: 190px;">
    <a href="/subs" data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">Subscription
    </a>
    <a href="/user/portfolio" data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">portfolio
    </a>
    <a data-ix="navlink-transition-wrapperwhite" href="/user/condition" class="navlink w-nav-link w--current">conditions
    </a>
    <a href="/user/mainpage" data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">Profile
    </a>
</nav>