<!DOCTYPE html><!-- Last Published: Sat Mar 02 2019 12:00:26 GMT+0000 (UTC) -->
<html data-wf-domain="www.blaiseposmyouck.com" data-wf-page="59b211317ba27a0001e6cc15"
  data-wf-site="5945c0691ffdf51725f42d2f">

<head>
  <meta charset="utf-8" />
  <title>Terms and conditions – Blaise Posmyouck</title>
  <meta
    content="Freelance webmaster, web designer and Webflow expert based in France. The following terms and conditions apply to all design services provided by Blaise."
    name="description" />
  <meta content="Terms and conditions – Blaise Posmyouck" property="og:title" />
  <meta
    content="Freelance webmaster, web designer and Webflow expert based in France. The following terms and conditions apply to all design services provided by Blaise."
    property="og:description" />
  <meta content="https://daks2k3a4ib2z.cloudfront.net/5945c0691ffdf51725f42d2f/594a3b1ff904913c11e41fce_bureau1.jpg"
    property="og:image" />
  <meta content="summary" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/css/blaiseposmyouck.2d86f83b5.min.css"
    rel="stylesheet" type="text/css" />
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
  <script
    type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/5945c0691ffdf51725f42d2f/59ae0118052e560001d6ed9c_newb-fav-32-1.png"
    rel="shortcut icon" type="image/x-icon" />
  <link href="https://daks2k3a4ib2z.cloudfront.net/5945c0691ffdf51725f42d2f/59ae046c7353c50001773bfb_b-256.png"
    rel="apple-touch-icon" />
  <script
    type="text/javascript">(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-84610254-9', 'auto'); ga('send', 'pageview');</script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    ::-webkit-scrollbar-thumb {
      background: #011933;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #011933;
    }

    ::-webkit-scrollbar-thumb:active {
      background: #011933;
    }

    ::-webkit-scrollbar-track {
      background: #ffffff;
    }

    ::-webkit-scrollbar-track:hover {
      background: #ffffff;
    }

    ::-webkit-scrollbar-track:active {
      background: #ffffff;
    }

    ::-webkit-scrollbar-corner {
      background: transparent;
    }

    .navlink {
      -webkit-transform: translate3d(0, 0, 0);
    }
  </style>
  <style>
    @media screen and (min-width: 2000px) and (max-width: 10000px) {
      body {
        font-size: 16px;
      }

      .portfolio-body-left-container-2 {
        max-width: 480px;
      }

      .portfolio-body-left-link {
        padding-top: 1.35em;
        padding-bottom: 1.35em;
      }

      .a-propos-paragraph {
        max-width: 730px;
        line-height: 32px;
      }

      .a-propos-heading {
        line-height: 220px;
      }

      .navmenu {
        margin-top: 220px;
      }

      p {
        line-height: 32px;
      }

      .portfolio-hero-center-container {
        max-width: 1000px;
      }

      .portfolio-quote {
        max-width: 780px;
      }

      .slide-quote-container {
        max-width: 1480px;
      }

      .slider-quote-paragraph {
        line-height: 44px;
      }

      .portfolio-card-heading.contact-heading {
        margin-bottom: 15px;
      }

      .portfolio-card-paragraph.contact-paragraph {
        max-width: 640px;
        line-height: 26px;
      }

    }

    @media screen and (min-width: 1600px) and (max-width: 1999px) {
      body {
        font-size: 15px;
      }

      .portfolio-body-left-container-2 {
        max-width: 420px;
      }

      .navmenu {
        margin-top: 180px;
      }

      .a-propos-paragraph {
        max-width: 680px;
      }

      .navmenu {
        margin-top: 200px;
      }

      .portfolio-card-paragraph.contact-paragraph {
        max-width: 600px;
        line-height: 26px;
      }

      .portfolio-hero-heading {
        margin-bottom: 5%;
      }

      .portfolio-quote {
        margin-bottom: 6.2%;
        max-width: 720px;
      }

      .slide-quote-container {
        max-width: 1300px;
      }

      .slider-quote-paragraph {
        line-height: 42px;
      }

      .portfolio-hero-center-container {
        max-width: 800px;
      }
    }

    @media screen and (max-width: 1599px) {
      body {
        font-size: 14px;
      }

      .a-propos-paragraph {
        max-width: 620px;
      }
    }

    @media screen and (max-width: 1365px) {
      body {
        font-size: 14px;
      }
    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .apropos-bg-fond {
        left: 0%;
        top: 0%;
        height: 100%;
        width: 100%;
      }

      .apropos-png {
        width: 100%;
      }

      .portfolio-body-left-container {
        padding-left: 3.5vw;
      }

      .portfolio-body-left-link {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
      }

      .presentation-div {
        padding-right: 8vw;
      }

      .slide-quote-container {
        padding-left: 8vw;
        padding-right: 8vw;
      }

      .portfolio-presentation-heading {
        margin-top: 0px;
      }
    }

    #proceed:hover {
      cursor: pointer;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
  </style>
  <link rel="alternate" href="https://www.blaiseposmyouck.com/contrat" hreflang="fr-fr">
  <link rel="alternate" href="https://www.blaiseposmyouck.com/en/conditions" hreflang="en">
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84610254-9', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body onload="disableSubmit()">
  <div class="new-body">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
      <div class="navbar-container">
        <a data-ix="navlink-transition-wrapperwhite" href="/subscription/subs.html" class="logo-link w-nav-brand">
          <div class="logo-text">B.</div>
        </a>
        {{!-- <nav role="navigation" class="navmenu w-nav-menu" style="margin-top: 190px;"><a href="/subs"
            data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">Subscription</a><a href="portfolio"
            data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">portfolio</a><a
            data-ix="navlink-transition-wrapperwhite" href="conditions"
            class="navlink w-nav-link w--current">conditions</a><a href="mainpage"
            data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">Profile</a>
        </nav> --}}
        {{!-- {{> authornavbar}} --}}
        <nav role="navigation" class="navmenu w-nav-menu" style="margin-top: 190px;"><a href="/user/subs"
            data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">Subscription</a><a
            href="/user/portfolio" data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">portfolio</a><a
            data-ix="navlink-transition-wrapperwhite" href="/user/conditions"
            class="navlink w-nav-link w--current">conditions</a><a href="/user/mainpage"
            data-ix="navlink-transition-wrapperwhite" class="navlink w-nav-link">Profile</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
        <div class="messenger-container">
          <div><a href="/contrat" data-ix="language-transition-wrapperwhite" class="language-link w-inline-block"></a>
          </div>
          <div><a href="/dashboard" class="language-link language-link-fr w-inline-block">
              <div class="language-text"><i class='bx bx-log-out'></i></div>
            </a></div>
        </div>


      </div>
    </div>
    <div class="navbar-mobile">
      <div class="navbar-mobile-container"><a href="conditions.html"
          class="logo-link-mobile logo-link-blue w-nav-brand w--current">
          <div class="logo-text">Terms &amp; Conditions</div>
        </a>
        <div class="navmenu-mobile navmenu-mobile-white">
          <div data-ix="initial-block" class="navmenu-mobile-wrapper navmenu-mobile-wrapper-white"></div>
          <div class="navmenu-mobile-container"><a href="/users/subs" data-ix="navlink-transition-wrapperwhite"
              class="navlink-mobile navlink-mobile-blue w-inline-block">
              <div>Subscription</div>
            </a><a href="portfolio.html" data-ix="navlink-transition-wrapperwhite"
              class="navlink-mobile navlink-mobile-blue w-inline-block">
              <div>Portfolio</div>
            </a><a href="/en/conditions" data-ix="navlink-transition-wrapperwhite"
              class="navlink-mobile navlink-mobile-blue w-inline-block w--current">
              <div>Conditions</div>
            </a><a href="mainpage.html" data-ix="navlink-transition-wrapperwhite"
              class="navlink-mobile navlink-mobile-blue w-inline-block">
              <div>Contact</div>
            </a></div>
          <div class="navmenu-mobile-footer">
            <div class="navmenu-mobile-social-container">
              <div class="navmenu-mobile-social-line-container">
                <div class="navmenu-mobile-social-line navmenu-mobile-social-line-blue navmenu-line-portrait"></div>
              </div>
              <div class="navmenu-mobile-social-links-inside"><a href="https://www.facebook.com/public/Blaise-Posmyouck"
                  target="_blank" class="navmenu-mobile-social-link w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/5982f9bb0a24e50001b833e0_f2acebook-svg.svg"
                    width="18" alt="" class="navmenu-mobile-social-link-image" /></a><a
                  href="https://twitter.com/posmyouck" target="_blank"
                  class="navmenu-mobile-social-link w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/5982f9bb75d7ef00014f14d8_t2witter-svg.svg"
                    width="18" alt="" class="navmenu-mobile-social-link-image" /></a><a
                  href="https://fr.linkedin.com/in/blaiseposmyouck" target="_blank"
                  class="navmenu-mobile-social-link behance-portrait w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/5982f9bbee443e00013aa750_li2nkedin-svg.svg"
                    width="18" alt="" class="navmenu-mobile-social-link-image" /></a><a
                  href="https://www.behance.net/posmyouck" target="_blank"
                  class="navmenu-mobile-social-link link-behance-mobile link-behance-mobile-portrait w-inline-block"><img
                    src="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/5982f9bb9d906600016bef85_be2hance-svg.svg"
                    width="20" alt="" class="navmenu-mobile-social-link-image" /></a></div>
            </div>
            <div class="navmenu-mobile-footer-container-left">
              <div class="contact-info-card contact-info-card-mobile-menu">
                <div class="contact-info-card-title contact-info-card-title-mobile-menu c-i-c-t-m-m-blue">E-mail :</div>
                <div class="contact-info-text contact-info-text-mobile-menu"><a href="mailto:b.posmyouck@gmail.com"
                    class="contact-info-link-new contact-info-link-new-blue">b.posmyouck@gmail.com</a></div>
              </div>
            </div>
          </div>
          <div class="navmenu-mobile-logo-div navmenu-language-div-mobile navmenu-language-div-mobile-blue">
            <div class="language-text-mobile"><a href="/contrat"
                class="language-link-mobile language-fr language-fr-blue" data-ix="navlink-transition-wrapperwhite"
                class="language-link-mobile language-en language-en-blue">Fr<span
                  class="span-language-portrait">ançais</span></a> <span class="language-divider-mobile">/</span> <a
                href="#" class="language-link-mobile language-en language-en-blue"
                class="language-link-mobile language-fr language-fr-blue">En<span
                  class="span-language-portrait">glish</span></a></div>
          </div>
        </div><a href="#" data-ix="menumobile" class="menu-button-mobile menu-button-mobile-blue w-inline-block">
          <div class="menu-button-mobile-div">
            <div class="menu-mobile-line-top top-blue">
              <div class="menu-line-top-wrapper"></div>
            </div>
            <div class="menu-mobile-line-mid mid-blue"></div>
            <div class="menu-mobile-line-bottom bottom-blue">
              <div class="menu-line-bottom-wrapper"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="site-content">
      <div class="section-a-propos section-mentions">
        <div class="mentions-body-left">
          <header id="intro" class="mentions-header">
            <h1 class="mentions-h1">Conditions<span class="span-no-portrait-en"> of service</span></h1>
            <div class="mentions-description-container">
              <div class="mentions-description-line-container">
                <div class="mentions-description-line"></div>
              </div>
              <div class="mentions-description">updated : 10 august 2017</div>
            </div>
            <div class="mentions-header-line-container">
              <div data-ix="mentionsheader-line" class="mentions-header-line"></div>
            </div>
            <div data-ix="opacity0-initial-2" class="mentions-header-wrapper"></div>
          </header>
          <main class="mentions-body-left-inside">
            <div class="mentions-container">
              <section data-ix="mentions-image-int1" class="mentions-rich-wrapper">
                <div id="parties-du-contrat" class="mentions-rich-text w-richtext">
                  <h2>1. <strong>–</strong> Contracting parties</h2>
                  <p>Blaise Posmyouck, Also operating under the trade name Blaise Posmyouck, Is a self-employed company,
                    Whose SIRET is 830 174 918 00011, Specialized in services provision such as website design and SEO.
                  </p>
                  <p>The present terms and conditions govern the relations between Blaise Posmyouck, Hereinafter
                    referred to as &quot;The service provider&quot;, And any natural or legal person having appealed to
                    the competences of Blaise Posmyouck, Hereinafter referred to as &quot;The client&quot;.</p>
                </div>
                <div id="champ-d-application" class="mentions-rich-text w-richtext">
                  <h2>2. <strong>–</strong> Scope of application and generalities</h2>
                  <p>The purpose of these terms of sale is to define the rights and obligations of the parties during
                    the sale of products or services realized by the service provider for its Clients in the framework
                    of its commercial activity of graphic design and website creation. All the characteristics of the
                    services are detailed on the accessible website at ​«https://www.blaiseposmyouck.com».</p>
                  <p>Only the special conditions stated, If necessary, In the quotations, Purchase orders or commercial
                    proposals, In the present terms and conditions and in the commercial code, regulate the conditions
                    of sale of the products and services of the service provider. They shall prevail over any clauses
                    and adverse conditions which may appear on the documents emanating from the client.</p>
                  <p>The service provider reserves the right to modify its general conditions of sale, Formulas and
                    rates at any time and without prior notice. These changes will not affect the orders in progress.
                  </p>
                  <p>Blaise Posmyouck reserves the right to pass on any new tax or any increase in existing tax rates to
                    its rates without notice. If the client is an individual, He / She acknowledges being over the age
                    of legal majority in accordance with the laws of the country in which he resides.</p>
                  <p>The client using the services of Blaise Posmyouck acknowledges having read and accepted without any
                    reserve the following terms of sales, As well as the warnings set out in the Extract from the Law n
                    ° 57-298 of March 11, 1957 on the artistic property (O.J. of March 14, 1957) of the rights of the
                    authors concerning the laws of the intellectual property. At the time of the order, The signature of
                    the quotation with the mention « Good for agreement », Implies the unreserved acceptance by the
                    client of the present terms of sales.</p>
                  <p>The service provider undertakes to develop, On its own microcomputers and software, On its
                    premises, The website or the elements described in the quotation or the commercial proposal.</p>
                  <p>The source codes remain the property of the service provider and can not in any case be used for
                    another website or sold by the client without the written authorization of Blaise Posmyouck. Any
                    study, report, information, quotation, specifications, for a fee or free of charge, carried out by
                    the service provider in order to provide services to the client, remain the exclusive property of
                    Blaise Posmyouck. The client undertakes not to transmit them.</p>
                </div>
              </section>
              <section data-ix="mentions-image-int-2" class="mentions-rich-wrapper">
                <div id="engagement-des-parties" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>3. <strong>–</strong> Commitment of the parties</h2>
                  <p>In general, the client and the service provider undertake to actively collaborate to ensure the
                    proper performance of the contract. Each party undertakes to communicate all the difficulties of
                    which he / she is aware, as and when necessary, to enable the other party to take the necessary
                    measures.</p>
                  <h3>3.1 – Client responsability and commitment</h3>
                  <p>To enable the service provider to realize its mission, the client agrees to :</p>
                  <ul>
                    <li>Establish a detailed bill of specifications that will not be modified unless agreed by the
                      parties, After approval by the service provider. In the case where the modifications would involve
                      a substantial reshuffle of the initial bill of specifications, the latter will be invoiced in
                      addition to the initial cost estimate.</li>
                    <li>Return the quotation / order form (dated, signed and stamped if possible) to the service
                      provider, with the mention « Good for agreement », which certifies that the client has read and
                      accepted the present terms and conditions.</li>
                    <li>Provide all the graphic and textual documentary elements necessary for the successful
                      realization of the contract, particularly in the right formats that can be exploited depending on
                      the targeted media (documents, logos, certificates, server access, information for mail transfers,
                      digital media and others).</li>
                    <li>Have the necessary rights on the elements provided. Only the responsibility of the client to be
                      engaged in this capacity.</li>
                    <li>To actively collaborate in the success of the project by providing the service provider with all
                      the information and documents necessary for the proper understanding of the needs and the proper
                      performance of the services.</li>
                    <li>Strictly comply with the technical and creative recommendations made by the service provider.
                    </li>
                    <li>Guarantee the service provider against any action that may be brought against it due to the
                      character of the data or information (texts, images, sounds) that would have been provided or
                      chosen by the Client.</li>
                    <li>Set the sums owed to the service provider within the specified deadline.</li>
                    <li>Inform the service provider of a possible competition with other service providers.</li>
                    <li>Comply with all applicable laws and regulations, including in a non-limiting manner,
                      intellectual property laws and regulations, personal data protection and protection of minors for
                      information provided to the service provider.</li>
                    <li>Not to violate any obligation of confidentiality or non-disclosure when providing the
                      information and allow the service provider to use them freely and without constraint in the
                      performance of its services.</li>
                  </ul>
                  <p>If the client does not provide the bill of specifications prior to the start of the order, or if
                    the bill of specifications does not include sufficiently precise indications or recommendations on
                    how the development and / or graphical creation of an element included in the order shoud be, both
                    parties agree that the choice of design is left to the free interpretation of Blaise Posmyouck.</p>
                  <p>The client undertakes to provide fair and sincere information and agrees to notify the service
                    provider of any change in the data provided and will be solely responsible for any possible
                    malfunctions that may result from incorrect information. The client must maintain a valid e-mail
                    address and postal address.</p>
                  <p>The client acknowledges and assumes full and complete responsibility for the choices made with
                    regard to textual and iconographic content represented in the realization delivered by the service
                    provider.</p>
                  <p>The client company acknowledges having taken note of the warnings made by the service provider,
                    concerning the laws of the copyright and the intellectual property, and the penalties that may be
                    incurred for their violation. Any text provided by the client must be read and corrected by the
                    client himself, no modification or misspelling will be corrected by the service provider. </p>
                  <p>In particular, it is prohibited to publish any form of content associated directly or indirectly
                    with pornography and eroticism, pirated programs, racism, defamatory to anyone or discriminatory in
                    any way, human rights violations in general, online gaming activity, violence of any kind (human,
                    animal or environmental), violation of intellectual property rights related to the works contained
                    or broadcast, in whole or in part on the client&#x27;s web space.</p>
                  <p>Blaise Posmyouck is not liable for any subsequent changes from the client, of the content of the
                    pages created.</p>
                  <h3>3.2 – Service provider, responsability and commitment</h3>
                  <p>If necessary, the service provider may intervene in drawing up the bill of specifications, in
                    conjunction with the client.</p>
                  <p>The service provider warrants that the creations are legally available and are not subject to the
                    right of third parties, whether employed or not, for the uses provided for under the contract.</p>
                  <p>The Service Provider undertakes to inform the client regularly and efficiently about the progress
                    of the project implementation and this, in particular, through validations submitted to the client.
                  </p>
                  <p>For confidentiality and for the duration of the present and even after their cessation whatever
                    reason, the service provider undertakes to strictly keep confidential all information and documents
                    of any kind whatsoever relating to the client, to which he might have had access in within the
                    framework of the performance of the present mission.</p>
                  <p>The service provider undertakes to provide, as soon as possible, or within the time agreed with the
                    client, the delivery of the orders made, and commits to do everything possible to ensure the
                    client’s satisfaction. The service provider shall not be liable for any major technical problems
                    which would hinder the performance of the contract (attacks, wars, natural disasters, superior force
                    or prolonged disconnection of the Internet beyond its control).</p>
                  <p>In no event shall the service provider be liable for the loss of documents required to perform the
                    services ordered. The client is required to send only copies or documents without replacement value.
                    The service provider reserves the right to refuse any document, text or image, contrary to its
                    ethics, good morals or not in accordance with the legislation in force.</p>
                  <p>Blaise Posmyouck delivers a finished product meeting the specifications of the quotation. Under no
                    circumstances can Blaise Posmyouck guarantee that the site requested by client will ensure an
                    increase in its sales, that the work provided will generate visits to the website, or will ensure a
                    good position in the search engines.</p>
                  <p>In no event shall the service provider be liable for any fault, negligence, omission or failure of
                    the client, failure to respect the advice given by Blaise Posmyouck, particularly in terms of
                    graphic orientation, choice of development or SEO method.</p>
                  <p>For the accomplishment of the services provided, Blaise Posmyouck undertakes to give his best care,
                    in accordance with the rules of the art. The present obligation is not an express agreement, but a
                    mere obligation of means. The client undertakes to collaborate actively with the service provider by
                    providing it with all the information that is useful and necessary for the proper execution of the
                    service and the respect of the execution deadlines.</p>
                </div>
              </section>
              <section data-ix="mentions-image-int-3" class="mentions-rich-wrapper">
                <div data-ix="richscroll-opacity" id="frais-et-prestations-annexes"
                  class="mentions-rich-text w-richtext">
                  <h2>4. <strong>–</strong> Costs and additional services</h2>
                  <p>The price of the service is firm. It is stipulated excluding taxes and expressed in euros. The
                    service provider may review the price of the service and remit it to the prevailing tariff if the
                    project is implemented within a period of more than six months following the order (signature of the
                    quotation), If this delay is mainly caused by a lack of involvement or reactivity from the client.
                  </p>
                  <p>The conditions of the offer concern exclusively the services specified in the quotation or the
                    purchase order signed and validated.</p>
                  <p>The corrections requested by the client are not unlimited. Any request for correction or additional
                    service not provided for in the original quotation / initial purchase order, and involving
                    additional work by the Contractor will be subject to either an hourly invoice based on 50 €
                    excluding Tax / hour, or an additional detailed quotation subject to the validation and signature of
                    the client.</p>
                  <p>The refusal to pay an additional service invoiced per hour will entitle the service provider to the
                    termination and full payment of the original sales agreement and to a compensation equal to the
                    prejudice sustained and / or the value of the service.</p>
                  <p>Unless otherwise stated or specific case, the various elements which may be necessary for the
                    performance of the services provided by the service provider and which are not included in its
                    offers are not included in the prices indicated. These may include, for example, typographic fonts,
                    photographs or illustrations from image banks, templates or modules that are necessary for the
                    development of the website.</p>
                  <p>The service provider may, however, offer additional services such as printing or hosting. These
                    rates will be explained and mentioned in the quotation or in the purchase order, and will therefore
                    be included in the overall price of the service offered to the client.</p>
                  <p>The textual content permitting the realization of the product must be provided by the client. He /
                    She will also have to transmit the movements necessary for the good realization of the contract may
                    also be invoiced to the client.</p>
                </div>
                <div id="bon-de-commande-et-debut-des-travaux" data-ix="richscroll-opacity"
                  class="mentions-rich-text w-richtext">
                  <h2>5. <strong>–</strong> Purchase order and start of work</h2>
                  <p>The quotation and the Terms of sales signed by the client are exclusively considered as the
                    acceptance of the latter and serve as a purchase order. This must be accompanied by the payment of
                    40% of the total price of the services to be provided.</p>
                  <p>The work will begin when all the administrative documents (quotations, signed terms of sales and a
                    40% settled of the total amount) and graphical and textual documentary elements necessary for the
                    successful realization of the contract, will be at the disposal of the service provider.</p>
                </div>
                <div id="facture-et-reglement" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>6. <strong>–</strong> Billing and settlement</h2>
                  <p>The service provider proposes the following terms :</p>
                  <ul>
                    <li>By bank check payable to Blaise Posmyouck, by bank transfer or by cash.</li>
                    <li>Deposit of 40% at the signing of the purchase order and 60% on delivery of the work.</li>
                    <li>Or a payment facility can be granted in 3 installments : 40% deposit on order - Payment of the
                      balance in 2 monthly installments of 30%</li>
                  </ul>
                  <p>Any delay in payment from the 31st day of lag in relation to the issue of the invoice will give
                    rise to penalties for delay calculated according to the legal rules in force.</p>
                  <p>The penalty rate for late payment is equal to the interest rate applied by the European Central
                    Bank to its most recent refinancing operation, plus 5 points (c.com. art L 441-6, al 3 modified).
                  </p>
                  <p>Delay penalties at the annual rate of : 10.50% of the invoice amount per day.</p>
                  <p>The costs of prosecution and fees for the recovery of unpaid invoices will be borne by the client.
                  </p>
                  <p>Any unpaid amount within the above-mentioned time limits, any delay in payment or any unpaid amount
                    (in case of return of the payment securities by the bank for unpaid payment) of an amount owed by
                    the client will lead to the immediate suspension of the services, pending the regularization of the
                    situation. This suspension can not be a cause of responsibility for Blaise Posmyouck.</p>
                  <p>The client can not claim compensation from Blaise Posmyouck due to the suspension of his services
                    following a payment incident.</p>
                  <p>The prices stipulated in the quotation are valid one month from the date of issue. These remain
                    firm and not revisable if the order takes place during this period. The services to be provided are
                    those clearly stated on the quotation, in a corollary manner all non-stated services are not
                    included and will be the subject of a free additional quotation.</p>
                  <p>Rates are in Euros and do not include taxes. They have not been subject to VAT. «VAT not
                    applicable, art. 293B du CGI ».</p>
                </div>
              </section>
              <section data-ix="mentions-image-int-4" class="mentions-rich-wrapper">
                <div id="validations-delais-livraison" data-ix="richscroll-opacity"
                  class="mentions-rich-text w-richtext">
                  <h2>7. <strong>–</strong> Validations, delays, delivery</h2>
                  <p>Upon signature of the quotation, the client agrees to provide the textual and graphical contents
                    allowing the realization of the service within three weeks. In the hypothesis of late delivery of
                    the documents or information by the client, a new production schedule will be transmitted by the
                    service provider.</p>
                  <p>In the hypothesis where the client does not respond to requests for disclosure of the requested and
                    necessary documents for the performance of the service within a reasonable time, the parties agree
                    that the continuation of the contract may give rise to a price revision.</p>
                  <p>At each stage of the creation of the project, the client undertakes to transmit to the service
                    provider its validations clearly and explicitly by sending an email or dated and signed mail. No
                    validation or modification request will be taken into consideration by a simple phone call.</p>
                  <p>Failure to validate or modify the models by the client within fifteen days will be deemed validated
                    by both parties. The work done, delivered and tacitly validated, implies that the sums corresponding
                    to this work are due.</p>
                  <p>Blaise Posmyouck endeavors in the interest of the client to perform its services as soon as
                    possible, or within the time agreed with the client when signing the quotation. In the absence of
                    express and written contractual stipulation, no enforceable turnaround time will be deemed agreed to
                    the charge of the service provider. In all cases, service and delivery can only begin from the
                    moment when Blaise Posmyouck is in fact in possession of all the information and documents.</p>
                  <p>The realization of the services therefore depends on the provision by the client of the necessary
                    informations and documents for the realization of the order. Any delay may not entitle the client to
                    cancel the service, to refuse the execution of the order or to claim damages.</p>
                  <p> Any new requests that would be issued by the client while the project is being processed will be
                    the subject of a separate quotation and will extend the time originally announced, which can no
                    longer be respected.</p>
                  <p>The website creation process set up by Blaise Posmyouck requires the graphics of the website to be
                    validated before going into production.</p>
                  <p>If the client issues a modification request impacting the design of an ordered site, while the site
                    development phase has already been started, or the site has already gone into production, so that
                    this modification requires intervention on the site development already in place, an additional
                    quotation will be established by the service provider.</p>
                  <p>The respect of the indicated deadlines imposes the client to be active on his project, and in
                    particular to respond quickly to the requests made by Blaise Posmyouck.</p>
                  <p>In general, new requests, regular changes of opinion or lack of responsiveness from the client,
                    will have an impact on the announced deadlines which can no longer be respected. The client is
                    therefore solely responsible for failure to meet deadlines.</p>
                  <p>Also, In the hypothesis where the client does not provide the informations, documents or
                    validations expected by the service provider, or does not follow up on his project by not giving a
                    response to the reminders of the service provider (email or mail) within two months, the client
                    shall be deemed to have abandoned its project and the parties agree in agreement that the contract
                    will be declared to have been terminated.</p>
                  <p>The work carried out until then will be due by the service provider, who will issue an invoice in
                    this sense and deliver the items in their condition. No claim or compensation request will be
                    accepted.</p>
                </div>
                <div id="etendues-des-prestations" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>8. <strong>–</strong> Scope of proposed services</h2>
                  <h3>8.1 – Website creation</h3>
                  <p>The website creation service includes the creation of a general structure of the site, a graphic
                    chart, sections definition, navigation, fonts, construction of the website itself, integration of
                    interactive elements such as online forms, hyperlinks and images and statistical tools if needed and
                    publishing by ftp.</p>
                  <p>After having studied the content with the client and established by mutual agreement a graphic
                    charter, the service provider proposes an online version before final publication (which can be
                    consulted privately by the client) for the validation of the production. It is recalled that the
                    client agrees to provide the texts and photography to be inserted in the various sections of the
                    website.</p>
                  <p>Unless otherwise stated in the quotation signed by the client, the service provider limits the
                    number of pages of the website to 10 pages.</p>
                  <p>Blaise Posmyouck develops its websites according to the W3C standards, to the extent possible. The
                    World Wide Web Consortium is an international organization that develops and sets standards for the
                    Web. However, using templates, CMS engines (WordPress, Prestashop ...), tools or scripts, can cause
                    some errors in W3C validation. This is in no way a blocking point for the SEO or the quality of the
                    website developed by the service provider.</p>
                  <p>The service provider undertakes no obligation to obtain a zero error score, but to approach it as
                    closely as possible and to respect the main principles of the W3C. Blaise Posmyouck can in no case
                    be held responsible for the W3C validation of the website unless one of these errors would cause a
                    visible bug on the site, in which case the service provider undertakes to correct this bug.</p>
                  <h3>8.2 – Content Management - CMS</h3>
                  <p>The client may be granted access to a back office in order to update its website autonomously.</p>
                  <p>The service provider undertakes to promote this update by the client under the best possible
                    technical conditions, it being understood that the obligation of the service provider is an
                    obligation of means.</p>
                  <p>It is the client&#x27;s responsibility to ensure that any technical changes or developments that he
                    may make on its website by any other person than the service provider are possible and compatible
                    with the technical characteristics of the developments carried out by the service provider.</p>
                  <p>Any modification of the website by the client does not entail any transfer of ownership to this
                    latter of the computer codes and the services produced by the service provider.</p>
                  <p>The necessary codes and passwords to access to the back office will be sent by the service provider
                    when the balance of the final invoice is settled.</p>
                  <h3>8.3 – Domain name</h3>
                  <p>Since the service provider acts only as a technical intermediary with the naming agencies for the
                    reservation of domain names, account must therefore be taken of terms of sales of these
                    organizations.</p>
                  <p>The client remains the sole owner of the domain name. He / she agrees to use the domain name in
                    accordance with applicable law and the rights of third parties.</p>
                  <p>The client agrees to indemnify, defend and disclaim the service provider from all liability against
                    any and all claims, damages, liabilities, costs and expenses arising from the registration of the
                    domain name.</p>
                  <h3>8.3 – Accomodation</h3>
                  <p>The client&#x27;s website will be hosted on its behalf by the service provider with the Webflow
                    supplier (unless otherwise stated when the quotation is signed). The Internet space allocated is
                    guaranteed without advertising.</p>
                  <p>The service provider shall not be liable for any interruption of service caused by the supplier.
                    The accommodation services are valid for one or two years and are renewable by tacit agreement.</p>
                  <p>Due to the characteristics and limitations of the Internet that the client declares perfectly, that
                    the service provider can not be held responsible in particular for :</p>
                  <ul>
                    <li>Difficulties in gaining access to the hosted system due to Internet network saturation,
                      disruption to the telecommunication network and the influx of Internet users at certain times,
                    </li>
                    <li>The performance and response time limits for consulting, querying or transferring data,
                      contamination by the client&#x27;s data and / or software viruses, the protection of which is the
                      responsibility of the client,</li>
                    <li>Third-party malicious intrusion on hosted sites, despite reasonable security measures put in
                      place by the service provider and its suppliers,</li>
                    <li>Any damage sustained by the client&#x27;s equipment, which are the sole responsibility of the
                      latter, the possible misappropriation by third parties and the client&#x27;s fault of passwords,
                      confidential codes, and more generally of any sensitive information for the client.</li>
                  </ul>
                  <h3>8.4 – SEO</h3>
                  <p>The service provider undertakes to use the SEO techniques on the website created, but does not
                    undertake in any way to reach a position in the search engines. The service provider is therefore
                    only bound to an obligation of means.</p>
                  <p>The service provider will also act as adviser by making recommendations to the client to optimize
                    its site and facilitate its indexing to the engines.</p>
                  <p>If express requests for unconventional SEO methods are made by the client, the service provider is
                    entirely free from the penalties that can be put in place by the search engines on the positions of
                    the client&#x27;s website.</p>
                  <p>The client is solely responsible for the content of its website and for any damage that may result
                    from its use or display.</p>
                  <h3>8.5 – Monitoring and maintenance</h3>
                  <p>Blaise Posmyouck ensures to monitor the website delivered during 3 months after getting it on-line.
                  </p>
                  <p>This service includes the correction of minor bugs that would not have been detected before the
                    production (and within the limits of the services specified in the contract), and which would be the
                    responsibility of the service provider.</p>
                  <p>This does not include any new requests for graphic or structural modifications by the client. This
                    does not include setting up additional optimization for site referencing.</p>
                  <p>This also does not include the return to service of the website in the case of a service
                    interruption by the supplier, in the case of mishandling by the client, or in case of website
                    hacking.</p>
                  <p>This service also includes advice for writing content, updating the website, manipulating the back
                    office, or any other request from the Client.</p>
                </div>
              </section>
              <section data-ix="mentions-image-int-5" class="mentions-rich-wrapper">
                <div id="maintenance" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>9. <strong>–</strong> Maintenance, updates and evolution</h2>
                  <p>Blaise Posmyouck endeavors to keep the website accessibility, without being obliged to do so, since
                    this remains the sole responsibility of the supplier who hosts the website, and the client (unless a
                    maintenance contract has been requested and signed by the two parties).</p>
                  <p>It is specified that access to the website may be interrupted for maintenance purposes, updating
                    and other technical reasons. The service provider is in no way responsible for these interruptions
                    and the consequences for the Internet user.</p>
                  <p>The service provider undertakes to use all means at its disposal to carry out its mission on
                    working days and during office hours (9 am-12.30 pm and 1:30 pm to 6 pm), within the limits of its
                    obligations of means and with the exception of events in cases of superior force, maintenance
                    operations, and maintenance carried out on the server by the web host, or by the breakdown of the
                    service attributable to the host or Internet service provider.</p>
                  <p>The operation of the service may be interrupted to enable the service provider to carry out the
                    maintenance work imposed by its mission. The service provider undertakes, however, when the
                    conditions permit, to carry out these operations during the hours that are the least disadvantageous
                    to the client. In the case of inaccessibility to the server due to technical malfunctions of its
                    jurisdiction, the service provider undertakes to re-establish within 72 hours the proper functioning
                    of the service. Suspension of access to the website during maintenance operations shall not give
                    rise to the payment of any compensation.</p>
                  <p>In no event shall the service provider be liable for any fault, negligence, omission or failure of
                    the client, failure to comply with the advice given by the service provider, superior force, events
                    or incidents beyond the control of the service provider, fault, negligence or omission of a third
                    party over which the service provider has no power of control and supervision.</p>
                  <p>In the event where the service provider’s liability is withheld, the client shall not be entitled
                    to any indirect damage such as loss of customer, turnover or profit. In addition, the amount of
                    compensation is expressly limited to the amount paid by the client in respect of the benefit
                    incurred at the loss date.</p>
                </div>
                <div id="droits-et-propriete" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>10. <strong>–</strong> Rights and ownership of the completed work</h2>
                  <h3>10.1 – Rights to the completed work</h3>
                  <p>It is reminded for information that according to the French Code of Intellectual Property (Articles
                    L.121-1 to L.121-9), the moral right of a creation (including right of disclosure, work respect and
                    right to withdrawal) is attached to its creator in a perpetual and imprescriptible manner.</p>
                  <p>In fact, only the property rights explicitly stated on the invoice in the field &quot;Rights
                    ceded&quot; will be transferred to the client, excluding any other rights, and in the possible
                    limits contained therein (limit of support, territory or duration). These rights may in particular
                    include the right of reproduction, the right of representation, the right of modification, the right
                    of exploitation. Finally, it is recalled that according to the same French Code of Intellectual
                    Property (Art L. 122-4), any representation or reproduction in whole or in part made without the
                    consent of the author or of its successors in title is illegal and punishable according to the laws
                    relating to the offense of counterfeiting. The same shall apply to translation, adaptation or
                    transformation, arrangement or reproduction by any art or process.</p>
                  <h3>10.2 – Ownership of the completed work</h3>
                  <p>The entire production and related rights, which are the subject of the order, remain the entire and
                    exclusive property of the service provider until the invoices have been paid in totality by the
                    client up to the total amount of the order and of any eventual amendment made during the service.
                  </p>
                  <p> As a corollary, the client will become the owner of the production results and the rights ceded
                    from the final settlement and settlement of all invoices issued by the service provider as part of
                    the order. Unless otherwise stated on the quotation, production files and sources remain the
                    property of the service provider. Only the finished product will be sent to the client. In the
                    absence of such notice and if the Client wishes to have the sources of the documents, an amendment
                    to this document will have to be requested.</p>
                  <h3>10.3 – Principles of assignment</h3>
                  <p>The reproduction and republication of the creations of the service provider are subject to the
                    collection of royalties according to the law of March 11, 1957 (see texts below). The assignment of
                    these rights concerns only the use specifically foreseen. Any subsequent or different use requires a
                    new agreement.</p>
                  <p>Changes or interpretations of a graphic design can not be made in any way, without the consent of
                    the service provider. The signature can not be deleted without the agreement of the service
                    provider. An idea proposed by the Client is not, in itself, a creation.</p>
                  <p><strong>Extracts from Act No. 57-298 of March 11 1957 on the artistic ownership of authors&#x27;
                      rights :</strong></p>
                  <p><strong>Article 1</strong> : <em>The author of a work of the mind is, by the sole fact of creation,
                      in full position of an exclusive right of exclusive incorporated property and opposable to all.
                      This right includes intellectual and moral attributes as well as patrimonial attributes which are
                      determined by this Act. The existence or conclusion of a contract of letting of works or services
                      by the author of a work of the mind does not imply any derogation from the enjoyment of the right
                      recognized by Article 1.</em></p>
                  <p><strong>Article 2</strong> : <em>The provisions of this Act protect the rights of authors in all
                      works of the mind, regardless of the genre, form of expression, merit or destination.</em></p>
                  <p><strong>Article 3</strong> : <em>In particular, the following are considered to be works of the
                      spirit within the meaning of this Act: books, pamphlets and other literary, artistic and
                      scientific works; works of drawing, painting, architecture, sculpture, engraving, lithography;
                      photographic works of an artistic or documentary character and those of the same character
                      obtained by a process analogous to photography; works of applied arts; illustrations, maps; plans,
                      sketches and plastic works relating to geography, topography, architecture or science.</em></p>
                  <p><strong>Article 6</strong> : <em>The author has the right to respect for his name, his quality and
                      his work. This right is attached to his person. It is perpetual, inalienable and imprescriptible.
                      It is transmissible on account of death to the heirs of the author. The exercise may be conferred
                      on a third party under the testamentary dispositions.</em></p>
                  <p><strong>Article 7</strong> : <em>The work is deemed to be created, independently of any public
                      disclosure, solely by the fact, even if incomplete, of the author&#x27;s conception.</em></p>
                  <p><strong>Article 8</strong> : <em>In the absence of proof to the contrary, authorship belongs to the
                      person or persons under whose name the work is disclosed.</em></p>
                  <p><strong>Article 9</strong> : <em>The work creation of which have competed several physical persons
                      is called collaborative work. The new work to which a pre-existing work is incorporated without
                      the collaboration of the author of the latter is called composite. a work created on the
                      initiative of a natural or legal person who edits, publishes and disseminates it under its
                      direction and under its name, and in which the personal contribution of the various authors
                      participating in its elaboration in general, for which it is conceived, without it being possible
                      to attribute to each of them a distinct right over the whole realized is called collective.</em>
                  </p>
                  <p><strong>Article 21</strong> : <em>The author is in full position, throughout his life, of the
                      exclusive right to exploit his work in any form whatsoever and to derive a pecuniary profit from
                      it. On the death of the author, this right continues for the benefit of his beneficiaries during
                      the current calendar year and the fifty years that follow. For collaborative works, the calendar
                      year taken into consideration is that of the death of the last survivor of the collaborators. The
                      exploitation of the author&#x27;s economic rights.</em></p>
                  <p><strong>Article 26</strong> : <em>The right of exploitation belonging to the author includes : the
                      right of representation, the right of reproduction.</em></p>
                  <p><strong>Article 27</strong> : <em>Representation consists in the direct communication of the work
                      to the public, in particular by means of: public presentation, distribution of images by any
                      process whatsoever.</em></p>
                  <p><strong>Article 28</strong> : <em>Reproduction consists in the material fixation of the work by all
                      the processes by which it can be communicated to the public in an indirect way. It may be carried
                      out in particular by printing, drawing, engraving, photography, molding and any process of graphic
                      and plastic arts and mechanical, cinematographic, magnetic or electronic recording.</em></p>
                  <p><strong>Article 35</strong> : <em>The disposal by the author of his rights over his work may be
                      total or partial. It must include for the benefit of the author the proportional share in the
                      proceeds from the sale or exploitation.</em></p>
                  <p><strong>Article 38</strong> : <em>The assignment clause, which tends to confer the right to exploit
                      the work not in a foreseeable or foreseen form at the date of the contract, must be express and
                      stipulate a correlative participation in the profits of the exploitation.</em></p>
                  <h3>10.4 – Reproduction and distribution rights</h3>
                  <p>The reproduction and distribution rights are calculated according to the diffusion of the creation.
                    They may be assigned as a lump sum or partially. Each different adaptation of the original work
                    being the subject of a new assignment of copyrights. For each new edition, the amount of the fees
                    must be updated.</p>
                  <p>The rights are transferred in the temporal and geographical perimeter of this contract and can not
                    exceed this limit.</p>
                  <p> To allow the client to freely exploit the service provided in the course of its activity, all
                    property rights related to the service provider’s creation under the Project shall be entirely and
                    exclusively assigned to the client for specifically addressed media when ordering, upon the actual
                    payment of all the fees due.</p>
                </div>
              </section>
              <section data-ix="mentions-image-int-6" class="mentions-rich-wrapper">
                <div id="copyright" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>11. <strong>–</strong> Copyright and commercial mention</h2>
                  <p>Unless explicitly stated otherwise by the client, the service provider reserves the right to
                    include in the production a commercial mention clearly indicating its contribution, such as the
                    formula «Website created by: Blaise Posmyouck », accompanied when the support allows by an hypertext
                    link pointing to the commercial site of its activity (blaiseposmyouck.com).</p>
                </div>
                <div id="droit-de-publicite" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>12. <strong>–</strong> Right of publicity</h2>
                  <p>Unless explicitly stated otherwise by the client, notified by mail with acknowledgment of receipt,
                    Blaise Posmyouck reserves the right to mention its realization for the client company as a reference
                    in the framework of its commercial prospecting, external communication and advertising.</p>
                  <p>The client authorizes Blaise Posmyouck to use, for purely demonstrative purposes, the product of
                    the realization (website, logo, etc.). This authorization extends more particularly to the
                    constituent elements of the realization, including without limitation the public presentation of the
                    following contents : the textual contents and the iconographic contents.</p>
                </div>
                <div id="annulation-de-commande" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>13. <strong>–</strong> Order cancellation</h2>
                  <p>In the event of a breach of the contract by the client before the end date, the latter undertakes
                    formally to regularize and remunerate the amounts related to the current calendar, the posts made or
                    in progress, as well as the additional services performed such as consultancy and project management
                    services. All copyright remains the exclusive and entire property of the service provider, except
                    for the data provided by the client. The source files and data created and used by the service
                    provider can not therefore be claimed by the client without a financial contribution. Models, and
                    more generally, all original works, remain the property of the service provider, as well as the
                    projects refused.</p>
                  <p>The deposit already paid will be retained by the service provider, constituting compensation for
                    the work undertaken. </p>
                </div>
                <div id="incapacite-de-travail" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>14. <strong>–</strong> Inability to work</h2>
                  <p>In case of incapacity to work, due to illness or accident, the service provider reserves the right
                    to modify the current calendar without having to pay a compensation to the client. It is agreed that
                    the service provider must notify the client from the first working day of his incapacity.</p>
                </div>
                <div id="force-majeure" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>15. <strong>–</strong> Superior force</h2>
                  <p>The parties can not be held responsible or have failed to fulfill their contractual obligations
                    when the failure to fulfill the respective obligations arises from superior force ; the contract
                    between the parties shall be suspended until the causes behind the superior force have been
                    extinguished.</p>
                  <p>Superior force takes into account irresistible facts or circumstances external to the parties,
                    unpredictable and independent of the will of the parties, despite all reasonable efforts to prevent
                    them.</p>
                  <p>The following are also considered to be superior force cases : blockage of means of transport or
                    supplies, earthquakes, fires, storms, floods, lightning, shutdown of telecommunication networks, and
                    in particular all networks accessible via the Internet ; telecommunication networks difficulties
                    that are external to the parties.</p>
                  <p>The party affected by superior force will notify the other party within five working days from the
                    date on which the superior force was noticed. The two parties shall then agree on the conditions
                    under which the performance of the contract shall be continued.</p>
                </div>
                <div id="reclamation" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>16. <strong>–</strong> Complaint</h2>
                  <p>Any complaint of any kind, to be valid, must be sent by registered letter with acknowledgment of
                    receipt within 7 days of receipt of the invoices. After this period, the works and the execution or
                    settlement conditions are considered as definitively accepted. </p>
                </div>
                <div id="reglement-des-litiges" data-ix="richscroll-opacity" class="mentions-rich-text w-richtext">
                  <h2>17. <strong>–</strong> Settlements of litigations</h2>
                  <p>Any litigation related to the interpretation and execution of these terms of sales is subject to
                    French law. In the absence of an amicable resolution, the Commercial Court of Caen will be solely
                    responsible for any litigation concerning the interpretation and execution of a contract and its
                    consequences.</p>
                </div>
              </section>
            </div>
          </main>
          <input type="checkbox" id="accept" name="accept" value="Accept & Proceed"
            style="float: left; margin-top: 4.5px; margin-left: 250px;">
          <label for="accept" style="float: left; padding: 10px; padding-top: 0%; font-size: 18px;">I agree to all the
            terms and conditions</label>
          <input type="submit" name="proceed" value="Proceed &#8250;" id="proceed"
            style="margin-left: 150px; width: 100px; height: 60px; border: none; font-size: 17px;">
          <script>
            function disableSubmit() {
              document.getElementById("submit").disabled = true;
            }

            function activateButton(element) {

              if (element.checked) {
                document.getElementById("submit").disabled = false;
              }
              else {
                document.getElementById("submit").disabled = true;
              }

            }
          </script>
          <div class="mentions-footer"><a href="#" class="mentions-footer-link w-inline-block">
              <div class="mentions-footer-arrow-container"><img
                  src="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59845e196c6a8d0001842c0d_aarr.svg"
                  width="20" height="20" data-ix="mentionarrow-loop" alt="" class="mentions-arrow-image" /></div>
            </a></div>
        </div>
        <div class="mentions-image-container">
          <div data-ix="mentions-img-interac" class="mentions-image mentions-image-1"></div>
          <div data-ix="mentions-img-interac" class="mentions-image mentions-image-2"></div>
          <div data-ix="mentions-img-interac" class="mentions-image mentions-image-3"></div>
          <div data-ix="mentions-img-interac" class="mentions-image mentions-image-4"></div>
          <div data-ix="mentions-img-interac" class="mentions-image mentions-image-5"></div>
          <div data-ix="mentions-img-interac" class="mentions-image mentions-image-6"></div>
          <div data-ix="initial-block" class="mentions-image-wrapper"></div>
        </div>
        <div class="wrapper-white"></div>
        <div data-ix="wrapper-white" class="a-propos-wrapper"></div>
      </div>
    </div>
    <div class="language-wrapper-top"></div>
    <div class="language-wrapper-bottom"></div>
  </div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/js/blaiseposmyouck.6aad8e7d5.js"
    type="text/javascript"></script>
  <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <style>
    .myClickState {
      border-color: #011933;
    }
  </style>
  <script>
    $('.menu-button-mobile').on('click', function (e) {
      e.preventDefault();
      $(this).toggleClass('myClickState');
    });
  </script>
  <script>
    $('a.navlink, a.portfolio-next-fixed-link, a.portfolio2-image-link, a.portfolio-body-left-link, a.logo-link, a.navlink-mobile, a.footer-link-project-mobile, a.portfolio-mobile-link, a.language-link, a.language-link-mobile').click(function (e) {
      e.preventDefault();                   // prevent default anchor behavior
      var goTo = this.getAttribute("href"); // store anchor href

      setTimeout(function () {
        window.location = goTo;
      }, 1900);
    });
  </script>
  <script>
    $(window).bind("pageshow", function (event) {
      if (event.originalEvent.persisted) {
        window.location.reload()
      }
    });
  </script>
</body>

</html>