<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
  <link rel="stylesheet" href="/css/dashboard.css">
  {{!--
  <link rel="stylesheet" href="css/style.css"> --}}
  <!-- <link rel="stylesheet" href="footer.css"> -->
  <!-- Boxicons CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/carousel.css">
  <!-- <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{!-- <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">Books</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="dashboard.html">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-user'></i>
          <span class="links_name">Profile</span>
        </a>
        <span class="tooltip">Profile</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book-reader'></i>
          <span class="links_name cat">Category<i class='bx bxs-chevron-down arrow'></i></span>
        </a>
        <span class="tooltip">Category</span>
      </li>
      <li class="menu">
        <a href="#">
          <i class='bx bx-chast'></i>
          <span class="links_name">Novels</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-chast'></i>
          <span class="links_name">Comics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-chast'></i>
          <span class="links_name">Magazines</span>
        </a>
      </li>
      <li>
        <a href="/subs">
          <i class='bx bx-credit-card'></i>
          <span class="links_name">Subscription</span>
        </a>
        <span class="tooltip">Subscription</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cart-alt'></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-heart'></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li class="profile">
        <a href="/logout" style="text-decoration: none;">
          <div class="profile-details">
            <!-- <img src="profile.jpg" alt="profileImg"> -->
            <div class="name_job">

              <div class="name">Logout</div>

              <div class="job">Back to Home Page</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out"></i>
        </a>
      </li>
    </ul>
  </div> --}}
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">B.</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="/dashboard">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="/user/author">
          <i class='bx bx-user'></i>
          <span class="links_name">Become an Author</span>
        </a>
        <span class="tooltip">Author</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book-reader'></i>
          <span class="links_name cat">Category<i class='bx bxs-chevron-down arrow'></i></span>
        </a>
        <span class="tooltip">Category</span>
      </li>
      <li class="menu">
        <a href="/user/novel">
          <i class='bx bx-chast'></i>
          <span class="links_name">Novels</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-chast'></i>
          <span class="links_name">Comics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-chast'></i>
          <span class="links_name">Magazines</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-chat'></i>
          <span class="links_name">Chat Section</span>
        </a>
        <span class="tooltip">Chat Section</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cart-alt'></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-heart'></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <!-- <img src="profile.jpg" alt="profileImg"> -->
          <div class="name_job">
            <div class="name">Logout</div>
            <div class="job">Back to Home Page</div>
          </div>
        </div>
        <a href="/logout">
          <i class='bx bx-log-out' id="log_out"></i>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <!-- <div class="text">Dashboard</div> -->

    {{!-- <div class="grid-titles">
      <h2>Non Fiction</h2>
    </div>
    <div class="grid-container">
      <a href="/user/preview?id=amsmd">
        <div class="grid-item"><img src="/images/novel1.jpeg" alt="alt" srcset=""></div>
      </a>
      <div class="grid-item"><img src="/images/novel2.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel3.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel4.jpeg" alt="alt" srcset=""></div>
    </div>
    <button type="button" class="collapsible " style="margin-left: 100px;">More like this</button>
    <div class="content">
      <div class="grid-container">
        <a href="preview.html" style="text-decoration: none; color: black;">
          <div class="grid-item">13</div>
        </a>
        <a href="preview.html" style="text-decoration: none; color: black;">
          <div class="grid-item">14</div>
        </a>
        <a href="preview.html" style="text-decoration: none; color: black;">
          <div class="grid-item">15</div>
        </a>
        <a href="preview.html" style="text-decoration: none; color: black;">
          <div class="grid-item">16</div>
        </a>
      </div>
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
    </div>
    <div class="grid-titles">
      <h2>Horror/thriller</h2>
    </div>
    <div class="grid-container">
      <div class="grid-item"><img src="/images/novel4.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel2.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel1.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel3.jpeg" alt="alt" srcset=""></div>
    </div>
    <button type="button" class="collapsible " style="margin-left: 100px;">More like this</button>
    <div class="content">
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
    </div>
    <div class="grid-titles">
      <h2>Sci-fi</h2>
    </div>
    <div class="grid-container">
      <div class="grid-item"><img src="/images/novel3.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel2.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel4.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel1.jpeg" alt="alt" srcset=""></div>
    </div>
    <button type="button" class="collapsible " style="margin-left: 100px;">More like this</button>
    <div class="content">
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
    </div>
    <div class="grid-titles">
      <h2>You Might Also Like!</h2>
    </div>
    <div class="grid-container">
      <div class="grid-item"><img src="/images/novel1.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel3.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel2.jpeg" alt="alt" srcset=""></div>
      <div class="grid-item"><img src="/images/novel4.jpeg" alt="alt" srcset=""></div>
    </div>
    <button type="button" class="collapsible " style="margin-left: 100px;">More like this</button>
    <div class="content">
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
      <div class="grid-container">
        <div class="grid-item">13</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>
        <div class="grid-item">16</div>
      </div>
    </div>
    <div> --}}
      <div class="grid-container">
        {{#each data}}
        {{#each this}}
        {{#if this.imagefilename}}
        <a href="/user/preview?id={{this._id}}">
          <div class="grid-item"><img src="/{{this.imagefilename}}" alt="alt"></div>
        </a>
        {{/if}}
        {{/each}}
        {{/each}}
      </div>
    </div>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
    <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <i class="fab fa-slack"></i>
            <span class="logo_name">Bamboo Studios</span>
          </div>
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
        <div class="link-boxes">

          <div id="contact">
            Where stories live!

            <div id="contactinfo">
              <div>Read Stories, Publish original write-ups anytime on XYZ.
                We connect a global community of millions of readers and writers through the power of story.</div>

              <p>phone no. 7766247913 <br> email: abcd@123.com</p>
            </div>
          </div>

          <ul class="box">
            <li class="link_name">About</li>
            <li><a href="#">Company & Team</a></li>
            <li><a href="#">Our Partners</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Services</li>
            <li><a href="#">Purchase Book</a></li>
            <li><a href="#">Shipping & Delivery</a></li>
            <li><a href="#">Cancellation & Refund</a></li>

          </ul>
          <ul class="box input-box">
            <li class="link_name">Help us to improve our website</li>
            <li><input type="text" placeholder="Leave your feedback"></li>
            <li><input type="button" value="Submit"></li>
          </ul>
        </div>
      </div>
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2021 <a href="#">Bamboo Studios.</a>All rights reserved</span>
          <span class="policy_terms">
            <a href="#">Privacy policy</a>
            <a href="#">Terms & condition</a>
          </span>
        </div>
      </div>
    </footer>
    <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
      });

      searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
        }
      }
    </script>
  </section>
</body>

</html>