<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/portfolio.css">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<title>Submit</title>
</head>

<body>
	<a href="/user/author"><button id="home-btn">Back</button></a>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#">
				<h1>Self Publishing</h1>
				<input type="text" placeholder="Author's name" />
				<input type="email" placeholder="Email" />
				<input type="text" placeholder="Contact number" />
				<input type="book-title" placeholder="Book Title" />
				<input type="file" id="myFile" name="filename" style="background: none;">
				<button type="submit">Submit</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Standard Publishing</h1>
				<input type="text" placeholder="Author's name" />
				<input type="email" placeholder="Email" />
				<input type="text" placeholder="Contact number" />
				<input type="book-title" placeholder="Book Title" />
				<input type="file" id="myFile" name="filename" style="background: none;">
				<button type="submit">Submit</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome, Writer!</h1>
					<p>Fill in your details and let the world know your work...</p>
					<button class="ghost" id="signIn">Your book publishing is on us!</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Creator!</h1>
					<p>Fill in your details and let the world know your work...</p>
					<button class="ghost" id="signUp">Want to self publish?</button>
				</div>
			</div>
		</div>
	</div>

	<footer>
	</footer>
	<script>
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});
	</script>
</body>

</html>