<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Submit</title>
</head>

<body>
    {{# if success }}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!! </strong> Your work is submitted, we'll let you know the result as soon as poosible!!
        {{!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> --}}
    </div>
    {{/if}}
    <a href="/user/author"><button id="home-btn">Back</button></a>

</body>

</html>