<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/internal.css" type="text/css">
  <title>Document</title>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="#" class="active"><b>B.</b></a>
    <a href="/subscription/subs.html">View Feedbacks</a>
    <a href="/subscription/subs.html">View Manuscripts</a>
    <a href="/internal/logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  <div class="grid-titles">
    <h2>View Orders</h2>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <img src="/author/2.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/1.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/5.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/4.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/6.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/3.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/7.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
    <div class="grid-item">
      <img src="/author/8.jpeg">
      <figcaption>Print orders - 3</figcaption>
    </div>
  </div>
  <div class="feedbacks">
    <h1>Customer Feedbacks</h1>
    <table>
      <th>Username</th><span>
        <th>Feedback</th>
      </span>
      <tr>
        <td>Abhishek</td>
        <td>Good</td>
      </tr>
      <tr>
        <td>Geetika</td>
        <td>Bad</td>
      </tr>
      <tr>
        <td>Shobhana</td>
        <td>Worse</td>
      </tr>
    </table>
  </div>
  <div class="manuscripts">
    <h1>Submitted Manuscripts</h1>
  </div>
</body>

</html>